@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

video, .blur {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    z-index: 1;
    background: #FFF;
    padding: 10px;
    margin: auto;
    font-size: 4em;
    text-shadow: 0 1px 3px #000;
    animation: glow 1s infinite ease-in alternate;
}

.blur {
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

@keyframes glow {
    from {
        color: #333;
    }
    to {
        color: #3bbced;
    }
}